body {
    background-color: rgb(255, 242, 242); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) /* wrt x and y coordinates */
}

h1 {
    color: rgb(80, 80, 80);
    text-align: center;
    font-size: 50px;
    user-select: none;
    position: relative; 
    animation: enter 1.5s;
}

@keyframes enter {
    0% {top: -120px; transform: scale(0.1);}
    50% {top: 20px;}
    100% {top: 0px; transform: scale(1);}
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

nav button {
    margin-right: 20px;
    height: 50px;
    width: 100px;
    border-style: none;
    background-color: white;
    border-radius: 10px;
    color:rgb(80, 80, 80);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.5s; 
}

nav button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

nav button:active {
    transform: scale(1.2);
}

nav .color-container {
    background-color: white;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin: 0;
    transition: transform 0.5s; 
}

nav .color-container:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

nav .color-container:active {
    transform: scale(1.2);
}

nav #color-input {
    margin-left: 2px;
    border-style: none;
    padding: 0;
    width: 20px;
    height: 20px;
}

span {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(80, 80, 80);
    user-select: none; /* remove highlight on click */
}

nav #slider {
    margin-left: 30px;
    margin-right: 20px;
    -webkit-appearance: none; /* remove default style */
    width: 40%;
    height: 15px;
    border-radius: 10px;
    outline: none;
    opacity: 0.8;
    transition: transform 0.5s; 
}

nav #slider:hover {
    opacity: 1;
    transform: scale(1.15);
}

nav #slider::-webkit-slider-thumb { /* this is the circle in the slider */
    -webkit-appearance: none; /* remove default style */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 220, 220);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto); 
    grid-template-rows: repeat(4, auto);
    /* size of the grid */
    height: 500px; 
    width: 500px;
    border: 5px solid rgb(140, 140, 140);
}

div {
    background-color: rgb(255, 255, 255);
    margin-bottom: -1px; /* remove gap b/w rows in grid */
}
