body {
    background-color: rgb(255, 242, 242); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) /* wrt x and y coordinates */
}

h1 {
    color: rgb(80, 80, 80);
    text-align: center;
    font-size: 50px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

nav button {
    margin-right: 20px;
    height: 50px;
    width: 100px;
    border-style: none;
    background-color: white;
    border-radius: 10px;
    color:rgb(80, 80, 80);
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav button:hover {
    box-shadow: 0 0 10px rgb(230, 230, 230);
    cursor: pointer;
}

nav p {
    font-size: 20px;
}
nav .slider {
    margin-left: 10px;
    -webkit-appearance: none; /* remove default style */
    width: 50%;
    height: 15px;
    border-radius: 10px;
    outline: none;
    opacity: 0.8;
}

nav .slider:hover {
    opacity: 1;
}

nav .slider::-webkit-slider-thumb { /* this is the circle in the slider */
    -webkit-appearance: none; /* remove default style */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 220, 220);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    /* size of the grid */
    height: 500px; 
    width: 500px;
    border: 5px solid rgb(140, 140, 140);
}

div {
    background-color: rgb(255, 255, 255);
}

.coloured-div {
    background-color: rgb(220, 220, 220);
}